# Ignore the data folder
data/

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore __pycache__ folders
__pycache__/

# Ignore large temporary files
*.tmp

# Ignore enviroment files
.venv